// NOTE remove for B3
$color_chestnut_approx: #b94a48;
$white: #fff;
$color_boston_blue_approx: #3a87ad;

.label {
  text-align: center;
}
.label-danger {
  background-color: $color_chestnut_approx;
}
.progress-bar {
  text-align: center;
  text-shadow: 0 0 0 $white;
  color: $white;
}
.progress-bar-danger {
  background-color: $color_chestnut_approx;
}
.progress-bar-info {
  background-color: $color_boston_blue_approx;
}
